<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Faasification Projects</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/#{lang}/faas">FaaS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#{lang}/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#{lang}/tools">Tools</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#{lang}/researchers">Researchers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#{lang}/conferences">Conferences</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/images/#{lang}.png"/>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownLang">
            <a class="dropdown-item" href="/es"><img src="/images/es.png"/> Español</a>
            <a class="dropdown-item" href="/pt"><img src="/images/pt.png"/> Português</a>
            <a class="dropdown-item" href="/dt"><img src="/images/dt.png"/> Deutsch</a>
            <a class="dropdown-item" href="/en"><img src="/images/en.png"/> English</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#{lang}/login" data-toggle="tooltip" data-placement="top" title="Login"><i class="fas fa-lock"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
